*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #e1ebfc;
}

/*navbar*/
.navBar {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  padding-left: 78px;
  padding-right: 78px;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #022661;
  font-weight: 800;
}

.nav {
  color: #022661;
}

.navigation {
  display: flex;
  flex-direction: row;
}
.navigation > li {
  list-style-type: none;
  padding-left: 49px;
  font-size: 15px;
}

.nav:link {
  text-decoration: none;
}
.nav:hover {
  color: #2950de;
}

/* main */
.container {
  display: flex;
  flex-direction: row;
  padding: 40px 230px;
}

.foto {
  padding: 20px;
}

.foto > img {
  border-radius: 180px;
}
.content {
  padding: 20px 20px 20px 30px;
}
.teks {
  padding: 20px;
}
.teks > h1 {
  color: #022661;
  font-size: 60px;
}
.teks > p {
  padding-top: 10px;
  font-size: 20px;
  color: rgba(1, 58, 148, 0.7);
}
.socmed {
  font-size: 35px;
  padding-left: 20px;
  
}
.socmed > a {
  color: #022661;
  text-decoration: none;
  padding-right: 15px;
}
.socmed > a:hover {
  color: #2341b0;
}

/* footer */
footer {
  width: 100%;
  height: 60px;
}
.footer {
  text-align: center;
  padding: 20px;
}
.footer > h5 {
  font-size: 15px;
  color: #022661;
}

/*blog*/

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
}

.container-blg {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
}

.myBlog {
  background-color: rgb(249, 249, 249);
  box-shadow: 7px 7px 0px rgba(215, 225, 243, 0.936);
  border-radius: 10px;
  width: 900px;
  padding: 20px;
  padding-bottom: 10px;
}

.myBlog:hover{
  background-color:rgba(189, 207, 241, 0.151);
  box-shadow: 7px 7px 0px rgba(185, 200, 228, 0.936);
}

.t-blog {
  padding: 10px;
}

.t-blog > h1 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #022661d5;
}

.t-blog > p {
  color: #022661d5;
  font-size: 15px;
}

.myBlog > .button {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.button > button {
  background: #4669a4;
  padding: 7px;
  border: #022661;
  border-radius: 10px;
  color: rgb(224, 235, 252);
}

/*porto*/
.container-prt {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 0fr);
  padding: 60px ;
  gap: 30px;
}

.porto-cont {
  display: grid;
  justify-content:space-around;
  border-radius: 15px;
  width: 270px;
  padding: 15px;
  box-shadow: 7px 7px 0px rgba(215, 225, 243, 0.936);
  border-radius: 10px;
  background-color: white;
  color:#022661;
  font-size: 15px;
}

.porto-cont:hover{
 
  box-shadow: 7px 7px 0px rgba(185, 200, 228, 0.936);
}


.porto-cont > img {
  object-fit: cover;
}

.lang-prt>h4{
  text-align: right;
  font-size: 10px;
  padding: 5px;
}

/*profil*/
.profil{
  
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin: 80px 220px;
}

.teks-pr{
  
  display: flex;
  flex-direction: column;
}

.teks-pr > h1{
  text-align: center;
  padding: 10px;
  color:#021e4b;
}

.teks-pr > p{
  color:#021e4b;
}
.teks-pr>h3{
  color: #021e4b;
}

.tech{
 
  display: flex;
  flex-direction:column;
  margin-top: 20px;
}

.list{
 
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 10px;
}
.list1{
  margin-right: 40px;
}

.img-pr>img{
  border-radius: 180px;
  
}

